body {
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: #79B9C6;
  font-family: "Ariel Black", Gadget, sans-serif;
}

h1 {
  color: white;
  font-size: 72px;
  font-weight: bold;
}

h2 {
  text-align: left;
  color: white;
  font-size:24px;
  font-weight: bold;
}

p {
}

.btn {
  border: 1px solid white;
  align-items: center;
  background-color: #79B9C6;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
